.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  //   border: 0.1rem solid #000;
  position: relative;
  @include flexPosition(space-around);

  &:hover .btn-bg {
    width: 18rem;
  }

  &:hover .arrow {
    transform: translateX(1rem);
  }

  &:hover .btn-text {
    color: color(secondary);
  }

  &:hover .arrow-line-1 {
    width: 2rem;
  }

  &-bg {
    width: 4rem;
    height: 4rem;
    background-color: color(primary);
    border-radius: 5rem;
    position: absolute;
    left: 0;
    transition: width 0.2s;
  }

  &-text {
    font-size: size(xs);
    text-transform: uppercase;
    color: color(primary);
    z-index: 10;
  }

  .arrow {
    @include flexPosition;
    transition: transform 0.2s;

    //creating arrow
    &-line {
      height: 0.2rem;
      background-color: color(secondary);
      position: absolute;
      //change the rotate direction
      transform-origin: right;
    }

    &-line-1 {
      width: 0;
      transform: translateX(-0.5rem);
      transition: width 0.2s;
    }

    &-line-2 {
      width: 1rem;
      transform: rotateZ(45deg);
    }
    &-line-3 {
      width: 1rem;
      transform: rotateZ(-45deg);
    }
  }
}
